<a href="https://colab.research.google.com/github/AxelRM2709/Terminal_Economia_2026/blob/main/Clase28_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
def presentacion(nombre = "Axel"): # Mandar valores default
  print(f"Hola, soy {nombre}")

In [ ]:
def resta(a,b):
  return a-b

def multiplicacion(a,b):
  return a*b

def division(a,b):
  if b==0:
    return "No se puede dividir sobre 0"
  return a/b

# Funciones lambda

In [2]:
suma_l = lambda x, y: x + y # Declarar funciones en una línea
suma_l(7,8)

exp2 = lambda x : x**2
exp2(3)

numeros = [1,2,3,4,5]
list(map(lambda x: x*2, numeros)) # Aplica una función a cada elemento de un array
list(map(exp2, numeros))

[2, 4, 6, 8, 10]

In [ ]:
n2 = [10,25,30,25,35,60]
list(filter(lambda x : x%2 == 0, n2)) # Filtrar

In [4]:
from functools import reduce
reduce(lambda x, y : x + y, n2) # Aplica una función y retorna un solo valor

185

In [ ]:
def multiplicador(n): # Funciones anidadas
  def mul(x):
    return x*n
  return mul

In [ ]:
doble = multiplicador(2)
doble(6)

In [5]:
def factorial(n): # Funciones recursivas
  if n == 0 or n == 1: # Caso base
    return 1
  else:
    return n*factorial(n-1)

factorial(5)

120

In [17]:
def fib(n): # Serie de fibonacci
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fib(n-1) + fib(n-2)

fib(7)

13

In [ ]:
def busquedaB(lista, valor, inicio, fin): # Busqueda binaria
  mitad = lista[len(lista) // 2]
  max = lista[-1]
  min = lista[0]
  if mitad > valor:
    return busquedaB(lista, valor, mitad, max)
  elif mitad < valor:
    return busquedaB(lista, valor, min, mitad)
  elif min == max:
    return -1
  else:
    return lista[mitad]

li = [1,2,3,4,5,6,7,8,9,10]
busquedaB(li, 8, 0, len(li))

In [ ]:
try:        # Prevenir errores
  resultado = 10/0
except ZeroDivisionError:
  print("No se puede dividir entre 0")

try:
  lista = [1,2,3]
except IndexError:
  print("Valor fuera de rango")

try:
  numero = int("hola")
except ValueError as e:
  print(f"Error detectado: {e}")

try:
  num = int(input("Ingresa tu edad: "))
  print(f"Tu edad es {num}")
except ValueError:
  print("Debes ingresar un número")
else:
  print("Edad ingresada con exito")
finally: # Se ejecuta siempre
  print("Felicidades")

In [ ]:
def dividir(a,b):
  if b == 0:
    raise ZeroDivisionError("No puedes dividir entre 0")
  return a/b